 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>รับทำโปรเจคจบ php jsp vb c# อื่นๆ ราคาตามตกลง</p>
                    <p>tel: 092-282-7675 </p>
                    <p>email: miniwanorn@hotmail.com</p>
                    <p>facebook : https://www.facebook.com/pjdek</p>
                </div>
                <div class="col-lg-4">
                    <p>ติดต่อเรา</p>
                </div>                
            </div>
        </div>
    </section>